.ew-img-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // max-width: 389px;
  width: calc(calc(100% / 3) - 32px);
  max-width: 300px;
  padding: 32px;
  img {
    height: auto;
    width: 100%;
    object-fit: contain;
  }
  h6,
  p,
  span {
    text-align: center;
    color: $text-light;
    // max-width: 249px;
  }
  p {
    min-height: 38px;
  }
  h6 {
    font: $big-text;
    font-weight: 700;
    font-size: 1.805vw; // Example if needed, assuming $big-text had a size around 26px
  }

  span {
    font: $text;
    font-weight: 700;
    margin-bottom: 32px;
    font-size: 1.111vw; // 16px
  }

  p {
    font: $text;
    font-size: 0.972vw; // 14px
  }

  span {
    color: $primary-color !important;
  }
}

.ew-icon-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 46px;
  width: calc(calc(100% / 3) - 32px);
  padding: 32px;

  h6 {
    font: $extra-small-title;
    font-size: 0.833vw; // 12px
  }

  p {
    font: $text;
    font-size: 0.972vw; // 14px
    margin-top: auto;
  }

  span * {
    color: $primary-color !important;
  }
}

.ew-icon-card-2 {
  border: 1px solid $border-blue-grey-light;
  border-radius: 20px;

  & > div {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  h6 {
    font: $small-text;
    font-size: 0.833vw; // 12px
  }
}

.ew-icon-card-bg {
  border: none !important;
  background-color: $bg-grey;
}

.ew-project-card {
  width: calc(50% - 16px);
  border-radius: 20px;
  background-color: $bg-blue-grey;
  display: flex;
  gap: 32px;
  padding: 0.7vw;
  // height: 50vh;

  .ew-project-card-img {
    border-radius: 10px;
    overflow: hidden;
    min-width: 30%;
    max-width: 30%;
    height: auto;

    img {
      height: 100%;
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }

  .ew-project-card-text {
    padding: 0 1.4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;

    & > * {
      // max-width: 290px;
      width: 100%;
    }

    & > div {
      display: flex;
      flex-direction: column;
      gap: 10%;
    }

    span {
      font: $text;
      font-weight: 700;
      color: $accent-light-color;
      font-size: 1.111vw; // 16px
    }

    h4 {
      font: $extra-small-title;
      font-size: 1.111vw; // Assume 16px unless different
    }

    p {
      font: $extra-small-text;
      font-size: 0.972vw; // 14px
    }
  }
}

/* *** grid *** */

.ew-card-grid {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.ew-full-grid {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
  padding: 0 32px;
}

@media (max-width: 1440px) {
  .ew-icon-card {
    gap: 32px;
    width: calc(calc(100% - 32px) / 3);
    padding: 16px;

    h6 {
      font: $extra-small-title-res;
      font-size: 20px;
    }

    p {
      font: $text-res;
      font-size: 14px;
    }
  }
  .ew-img-card {
    width: calc(calc(100% - 32px) / 3);
    padding: 32px;

    h6,
    p,
    span {
      text-align: center;
      color: $text-light;
    }

    h6 {
      font: $big-text-res;
      font-weight: 700;
      font-size: 26px; // Example if needed, assuming $big-text had a size around 26px
    }

    span {
      font: $text-res;
      font-weight: 700;
      margin-bottom: 32px;
      font-size: 16px; // 16px
    }

    p {
      font: $text-res;
      font-size: 14px; // 14px
    }

    span {
      color: $primary-color !important;
    }
  }

  .ew-project-card {
    width: calc(50% - 16px);
    min-height: 250px;
    gap: 0;
    padding: 10px;
    // height: 50vh;

    .ew-project-card-img {
      min-width: 30%;
      max-width: 30%;
    }

    .ew-project-card-text {
      padding: 0 22px;
      gap: 16px;

      & > * {
        // max-width: 290px;
        width: 100%;
      }

      & > div {
        gap: 16px;
      }

      span {
        font: $text-res;
        font-size: 16px; // 16px
      }

      h4 {
        font: $extra-small-title-res;
        font-size: 16px; // Assume 16px unless different
      }

      p {
        font: $extra-small-text-res;
        font-size: 14px; // 14px
      }
    }
  }
}

@media (max-width: 1200px) {
  .ew-full-grid.ew-projects-grid {
    gap: 16px;
    .ew-project-card {
      width: 100%;
      min-height: unset;
    }
  }
}

@media (max-width: 768px) {
  .ew-icon-card {
    gap: 16px;
    width: calc(calc(100% - 16px) / 2);
    padding: 16px;

    // p {
    //   margin-top: unset;
    // }
  }
  .ew-view .ew-image-grid {
    max-height: 60vh;
    gap: 8px;
    padding: 0 8px;
    width: 100%;
    height: 100%;
    img {
      height: auto;
      &:last-child {
        height: 40% !important;
      }
    }
  }
  .ew-img-card {
    width: 100%;
    padding: 32px;

    h6,
    p,
    span {
      text-align: center;
      color: $text-light;
    }

    h6 {
      font: $big-text-res;
      font-weight: 700;
      font-size: 26px; // Example if needed, assuming $big-text had a size around 26px
    }

    span {
      font: $text-res;
      font-weight: 700;
      margin-bottom: 32px;
      font-size: 16px; // 16px
    }

    p {
      font: $text-res;
      font-size: 14px; // 14px
    }

    span {
      color: $primary-color !important;
    }
  }
  .ew-view .ew-card-grid {
    justify-content: center;
  }

  .ew-full-grid.ew-projects-grid {
    padding: 0 16px;
    .ew-project-card {
      flex-direction: column;
      .ew-project-card-img {
        max-width: 100%;
        height: 160px;
        margin-bottom: 16px;
      }
    }
  }
}

@media (max-width: 570px) {
  .ew-card-grid {
    .ew-icon-card.ew-icon-card-2 {
      width: 100%;
    }
  }
}
