.ew-img-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // max-width: 389px;
  width: calc(calc(100% / 3) - 32px);
  padding: 32px;

  h6,
  p,
  span {
    text-align: center;
    color: $text-light;
    // max-width: 249px;
  }

  h6 {
    font: $big-text;
    font-weight: 700;
    font-size: 1.805vw; // Example if needed, assuming $big-text had a size around 26px
  }

  span {
    font: $text;
    font-weight: 700;
    margin-bottom: 32px;
    font-size: 1.111vw; // 16px
  }

  p {
    font: $text;
    font-size: 0.972vw; // 14px
  }

  span {
    color: $primary-color !important;
  }
}

.ew-icon-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 46px;
  width: calc(calc(100% / 3) - 32px);
  padding: 32px;

  h6 {
    font: $extra-small-title;
    font-size: 0.833vw; // 12px
  }

  p {
    font: $text;
    font-size: 0.972vw; // 14px
  }

  span * {
    color: $primary-color !important;
  }
}

.ew-icon-card-2 {
  border: 1px solid $border-blue-grey-light;
  border-radius: 20px;

  & > div {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  h6 {
    font: $small-text;
    font-size: 0.833vw; // 12px
  }
}

.ew-icon-card-bg {
  border: none !important;
  background-color: $bg-grey;
}

.ew-project-card {
  width: calc(50% - 16px);
  border-radius: 20px;
  background-color: $bg-blue-grey;
  display: flex;
  gap: 32px;
  padding: 0.7vw;
  // height: 50vh;

  .ew-project-card-img {
    border-radius: 10px;
    overflow: hidden;
    min-width: 30%;
    max-width: 30%;
    height: auto;

    img {
      height: 100%;
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }

  .ew-project-card-text {
    padding: 0 1.4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;

    & > * {
      // max-width: 290px;
      width: 100%;
    }

    & > div {
      display: flex;
      flex-direction: column;
      gap: 10%;
    }

    span {
      font: $text;
      font-weight: 700;
      color: $accent-light-color;
      font-size: 1.111vw; // 16px
    }

    h4 {
      font: $extra-small-title;
      font-size: 1.111vw; // Assume 16px unless different
    }

    p {
      font: $extra-small-text;
      font-size: 0.972vw; // 14px
    }
  }
}

/* *** grid *** */

.ew-card-grid {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.ew-full-grid {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
  padding: 0 32px;
}
