.ew-input {
  border: none;
  border-bottom: 1px solid rgba(70, 101, 141, 0.3);
  background-color: transparent;
  border-radius: 0;
  outline: none;
  box-shadow: none !important;
  padding: 8px 11px;
  width: 100% !important;
}

/* Focused input */
.ew-input:focus,
.ew-input:focus-within {
  border: none;
  border-bottom: 1px solid #26b49a;
  background-color: transparent;
  box-shadow: none !important; /* Remove any shadow */
  outline: none;
}

/* Hovered input */
.ew-input:hover {
  border: none;
  border-bottom: 1px solid #26b49a;
  background-color: transparent;
  box-shadow: none !important;
}

/* Error input */
.ew-input.ant-input-status-error {
  border: none !important;
  border-bottom: 1px solid #f5222d !important;
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none;
}

/* Error input on focus */
.ew-input.ant-input-status-error:focus,
.ew-input.ant-input-status-error:focus-within {
  border: none !important;
  border-bottom: 1px solid #f5222d !important;
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none;
}

/* *********************** Select *************************** */

.ew-select .ant-select-selector {
  border: none;
  border: none !important;
  border-bottom: 1px solid rgba(70, 101, 141, 0.3) !important;
  background-color: transparent !important;
  border-radius: 0;
  outline: none;
  box-shadow: none !important;
  padding: 8px 11px;
  width: 100% !important;
  height: 39px !important;
}

/* Focused select */
.ew-select .ant-select-selector:focus,
.ew-select .ant-select-selector:focus-within {
  border: none;
  border-bottom: 1px solid #26b49a;
  background-color: transparent;
  box-shadow: none !important;
  outline: none;
}

/* Hovered select */
.ew-select .ant-select-selector:hover {
  border: none;
  border-bottom: 1px solid #26b49a;
  background-color: transparent;
  box-shadow: none !important;
}

/* Error select */
.ew-select .ant-select-selector.ant-select-status-error {
  border: none !important;
  border-bottom: 1px solid #f5222d !important;
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none;
}

/* Error select on focus */
.ew-select .ant-select-selector.ant-select-status-error:focus,
.ew-select .ant-select-selector.ant-select-status-error:focus-within {
  border: none !important;
  border-bottom: 1px solid #f5222d !important;
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none;
}

.ew-select .ant-select-dropdown {
  background-color: $bg-blue-grey !important; /* Customize the background color */
}

.ew-select .ant-select-dropdown .ant-select-item-option {
  background-color: $bg-blue-grey !important; /* Customize option background */
}

.ant-upload-drag-icon,
.ant-upload-drag-icon svg {
  color: $primary-color;
}

.ant-upload-text {
  color: $text-dark !important;
  font: $text;
  font-size: 12px;
  span {
    color: $primary-color;
    font-weight: 600;
  }
}

:where(.css-dev-only-do-not-override-1v5z42l).ant-upload-wrapper
  .ant-upload-drag:not(.ant-upload-disabled):hover,
:where(.css-dev-only-do-not-override-1v5z42l).ant-upload-wrapper
  .ant-upload-drag-hover:not(.ant-upload-disabled) {
  border-color: $primary-color !important;
}
