a {
  font: $link-text;
  color: $text-dark;
  &:hover {
    color: $primary-color;
  }
}

h1 {
  font: $display;
}

h3 {
  font: $title;
}

p {
  font: $big-text;
}

h1,
h2,
h3,
h4 {
  span {
    color: $primary-color;
    font: inherit;
  }
}

span {
  font: $extra-small-text;
}

.ew-btn {
  display: flex;
  button,
  span {
    border: 0.07vw solid $text-dark; // 1px
    color: $text-dark;
    min-height: 2.85vw; // 41px
  }
  button {
    background-color: transparent;
    font: $btn-text;
    border-radius: 1.39vw; // 20px
    padding: 0.69vw 2.22vw; // 10px 32px
    min-width: 13.19vw; // 190px
  }
  span {
    border-radius: 50%;
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      fill: $text-dark;
    }
  }
}

.ew-btn-primary {
  display: flex;
  button,
  span {
    border: 0.07vw solid $primary-color; // 1px
    min-height: 2.85vw; // 41px
  }
  button {
    background-color: $primary-color;
    font: $btn-text;
    color: $text-light;
    border-radius: 1.39vw; // 20px
    padding: 0.69vw 2.22vw; // 10px 32px
    min-width: 13.19vw; // 190px
  }
  span {
    border-radius: 50%;
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      fill: $primary-color;
    }
  }
}

.ew-bg-blue {
  background-color: $accent-color;
  section,
  .ew-splited {
    & > * {
      color: $text-light;
    }
  }
}

.ew-map-section {
  &:hover {
    cursor: pointer;
  }
}

.ew-special-key {
  font: $text;
  font-weight: 700;
  color: $accent-light-color;
}

/* custom scroll bar */

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 20px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: $primary-color transparent;
  }
}
