$primary-color: #26b49a;
$primary-light-color: #53d6ba;

$accent-color: #0072b4;
$accent-light-color: #58a6ec;

$text-dark: #46658d;
$text-light: #e9fef8;

$bg-blue-grey: rgba(70, 101, 141, 0.12);
$bg-white: #e1e4eb;
$bg-grey: rgba(152, 176, 169, 0.12);

$border-blue-grey: rgba(70, 101, 141, 0.6);
$border-blue-grey-light: rgba(70, 101, 141, 0.4);
