@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

$display: 600 64px "Playfair Display", serif;

$big-logo: 400 48px "Lato", sans-serif;

$title: 600 48px "Playfair Display", serif;
$small-title: 400 32px "Lato", sans-serif;
$extra-small-title: 700 18px "Lato", sans-serif;

$large-text: 400 36px "Lato", sans-serif;
$big-text: 400 24px "Lato", sans-serif;
$small-text: 400 14px "Lato", sans-serif;
$text: 400 16px "Lato", sans-serif;
$extra-small-text: 300 14px "Lato", sans-serif;

$link-text: 500 20px "Lato", sans-serif;
$btn-text: 500 16px "Lato", sans-serif;
