@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
a {
  font: 500 20px "Lato", sans-serif;
  color: #46658d;
}
a:hover {
  color: #26b49a;
}

h1 {
  font: 600 64px "Playfair Display", serif;
}

h3 {
  font: 600 48px "Playfair Display", serif;
}

p {
  font: 400 24px "Lato", sans-serif;
}

h1 span,
h2 span,
h3 span,
h4 span {
  color: #26b49a;
  font: inherit;
}

span {
  font: 300 14px "Lato", sans-serif;
}

.ew-btn {
  display: flex;
}
.ew-btn button,
.ew-btn span {
  border: 1px solid #46658d;
  color: #46658d;
  min-height: 41px;
}
.ew-btn button {
  background-color: transparent;
  font: 500 16px "Lato", sans-serif;
  border-radius: 50px;
  padding: 10px 32px;
  min-width: 190px;
}
.ew-btn span {
  border-radius: 50%;
  height: 100%;
  width: auto;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ew-btn span svg {
  fill: #46658d;
}

.ew-btn-primary {
  display: flex;
}
.ew-btn-primary button,
.ew-btn-primary span {
  border: 1px solid #26b49a;
  min-height: 41px;
}
.ew-btn-primary button {
  background-color: #26b49a;
  font: 500 16px "Lato", sans-serif;
  color: #e9fef8;
  border-radius: 50px;
  padding: 10px 32px;
  min-width: 190px;
}
.ew-btn-primary span {
  border-radius: 50%;
  height: 100%;
  width: auto;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ew-btn-primary span svg {
  fill: #26b49a;
}

.ew-bg-blue {
  background-color: #0072b4;
}
.ew-bg-blue section > *,
.ew-bg-blue .ew-splited > * {
  color: #e9fef8;
}

.ew-map-section:hover {
  cursor: pointer;
}

.ew-special-key {
  font: 400 16px "Lato", sans-serif;
  font-weight: 700;
  color: #58a6ec;
}

.ew-main-layout {
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.ew-main-layout > main {
  min-height: calc(100vh - 707px);
}
.ew-main-layout > header, .ew-main-layout > footer {
  padding: 32px;
  min-height: 114px;
}
.ew-main-layout > header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}

.ew-navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  height: 48px;
}
.ew-navigation-header .ew-logo {
  height: 48px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.ew-navigation-header .ew-logo img {
  height: 48px;
  width: 48px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1;
}
.ew-navigation-header .ew-logo p {
  font: 400 20px "Montserrat", sans-serif;
  color: #d2ac47;
}
.ew-navigation-header .ew-logo span,
.ew-navigation-header .ew-logo span:hover {
  font: 400 20px "Cormorant Garamond", serif;
  color: #d2ac47;
}
.ew-navigation-header .ew-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 64px;
}
.ew-navigation-header .ew-language {
  height: 48px;
  width: 48px;
  aspect-ratio: 1;
  background-color: #26b49a;
  color: #e9fef8;
  font: 400 14px "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.ew-footer {
  border-radius: 20px;
  background-color: rgba(70, 101, 141, 0.12);
  margin: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.ew-footer header {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(70, 101, 141, 0.6);
}
.ew-footer header img {
  height: 79px;
  width: 79px;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.ew-footer header a {
  display: flex;
  align-items: center;
  font-size: 32px;
  gap: 8px;
  color: #d2ac47;
}
.ew-footer header a p {
  font: 400 20px "Montserrat", sans-serif;
  font-size: 32px;
  color: #d2ac47;
}
.ew-footer header a span,
.ew-footer header a span:hover {
  font: 400 20px "Cormorant Garamond", serif;
  color: #d2ac47;
  font-size: 32px;
}
.ew-footer main {
  width: 100%;
}
.ew-footer main > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ew-footer main > div > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.ew-footer main > div > div h4 {
  font: 400 32px "Lato", sans-serif;
  font-size: 48px;
  max-width: 540px;
}
.ew-footer main .ew-footer-navigation ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ew-footer main .ew-footer-navigation ul a {
  font-size: 20px;
}
.ew-footer main .ew-footer-contact {
  align-items: flex-end;
}
.ew-footer main .ew-footer-contact > span {
  width: 100%;
}

.ew-view section {
  padding: 120px 0;
  max-width: 1200px;
  margin: 0 auto;
}
.ew-view .ew-about h3 {
  text-align: center;
  font: 400 36px "Lato", sans-serif;
}
.ew-view .ew-about .ew-closure {
  font: 600 64px "Playfair Display", serif;
}
.ew-view .ew-image-text {
  padding: 16px;
  background-color: rgba(70, 101, 141, 0.12);
  display: flex;
  justify-content: space-between;
  gap: 64px;
  max-height: 600px;
}
.ew-view .ew-image-text > div {
  width: 48%;
}
.ew-view .ew-image-text .ew-image {
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.ew-view .ew-image-text .ew-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ew-view .ew-image-text .ew-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 120px 32px 0;
  gap: 64px;
}
.ew-view .ew-image-text .ew-text h6 {
  font: 400 14px "Lato", sans-serif;
  font-weight: 700;
  color: #58a6ec;
}
.ew-view .ew-image-text .ew-text h5 {
  font: 400 14px "Lato", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.ew-view .ew-image-text .ew-text h3 {
  font: 600 48px "Playfair Display", serif;
}
.ew-view .ew-image-text .ew-text > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.ew-view .ew-image-text .ew-text p {
  max-width: 530px;
}
.ew-view .ew-splited {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  width: 100%;
  max-width: 1200px;
}
.ew-view .ew-splited > * {
  width: 45%;
}
.ew-view .ew-splited p {
  margin-top: 16px;
}
.ew-view .ew-splited > div {
  width: 49%;
}
.ew-view .ew-splited .ew-splited-img {
  max-height: 656px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.ew-view .ew-splited .ew-splited-img img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.ew-view .ew-splited .ew-splited-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ew-view .ew-splited .ew-splited-list .ew-collapse .ant-collapse-item {
  border-radius: 10px;
  background: rgba(152, 176, 169, 0.12);
}
.ew-view .ew-splited .ew-splited-list .ew-collapse .ant-collapse-item .ant-collapse-header {
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: transparent;
}
.ew-view .ew-splited .ew-splited-list .ew-collapse .ant-collapse-item-active {
  border-radius: 10px;
  background: rgba(152, 176, 169, 0.12);
}
.ew-view .ew-splited .ew-splited-list .ew-collapse .ant-collapse-item-active .ant-collapse-header-active {
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: transparent;
}
.ew-view .ew-splited .ew-splited-list .ew-collapse .ant-collapse-header {
  background: rgba(152, 176, 169, 0.12);
  border-radius: 10px;
  padding: 22px 32px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.ew-view .ew-splited .ew-splited-list .ew-collapse .ant-collapse-header .ant-collapse-header-text {
  font: 700 18px "Lato", sans-serif;
  font-size: 20px;
}
.ew-view .ew-splited .ew-splited-list .ew-collapse .ant-collapse-content-box {
  padding-right: 32px;
  padding-left: 32px;
}
.ew-view .ew-splited .ew-splited-list .ew-collapse .ant-collapse-content-active {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.ew-view .ew-section-card {
  padding: 0 32px;
}
.ew-view .ew-section-card > div {
  display: flex;
  flex-direction: column;
  padding: 100px 88px;
}
.ew-view .ew-section-card > div > * {
  max-width: 1200px;
  margin: 0 auto;
}
.ew-view .ew-section-card > div:first-child {
  background-color: #0072b4;
  border-radius: 20px;
  gap: 100px;
}
.ew-view .ew-section-card > div:first-child h3 {
  color: #e9fef8;
}
.ew-view .ew-section-card > div:last-child {
  gap: 64px;
  padding-bottom: 0;
}
.ew-view .ew-section-card-2 {
  padding: 0 32px;
}
.ew-view .ew-section-card-2 > div:first-child {
  border-radius: 20px;
  background-color: rgba(70, 101, 141, 0.12);
  padding: 40px 16px;
}
.ew-view .ew-section-card-2 > div:first-child h3 {
  color: #46658d;
}
.ew-view .ew-section-card-2 > div:first-child .ew-section-banner {
  border-radius: 20px;
  width: 100%;
  height: 355px;
  overflow: hidden;
}
.ew-view .ew-section-card-2 > div:first-child .ew-section-banner img {
  width: 100%;
  height: 200%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ew-view .ew-grid-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 32px;
}
.ew-view .ew-grid-2 > div {
  width: 45%;
}
.ew-view .ew-grid-2 > div * {
  color: #e9fef8;
}
.ew-view .ew-grid-2 > div h6 {
  font: 400 32px "Lato", sans-serif;
}
.ew-view .ew-grid-2 > div p {
  font: 400 14px "Lato", sans-serif;
}
.ew-view .ew-grid-2-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 32px;
  max-width: 1200px;
  margin: 64px auto 0;
}
.ew-view .ew-grid-2-2 h4 {
  font: 400 32px "Lato", sans-serif;
  font-weight: 600;
}
.ew-view .ew-grid-2-2 > div {
  width: 45%;
}
.ew-view .ew-grid-2-2 > div * {
  color: #46658d;
}
.ew-view .ew-grid-2-2 > div h6 {
  font: 400 32px "Lato", sans-serif;
  font-size: 20px;
}
.ew-view .ew-grid-2-2 > div p {
  font: 400 14px "Lato", sans-serif;
}
.ew-view .ew-grid-2-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
}
.ew-view .ew-grid-2-box > div {
  width: calc(50% - 8px);
}
.ew-view .ew-grid-2-box > div p {
  font: 400 14px "Lato", sans-serif;
}
.ew-view .ew-grid-2-box .ew-item-box {
  height: 61px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 0 32px;
  background-color: rgba(152, 176, 169, 0.12);
}
.ew-view .ew-grid-2-box .ew-item-box span {
  background-color: #26b49a;
  height: 7px;
  width: 7px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.ew-view .ew-image-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0 32px;
  width: 100%;
}
.ew-view .ew-image-grid img:first-child {
  width: calc(70% - 8px);
}
.ew-view .ew-image-grid img {
  width: calc(30% - 8px);
  border-radius: 20px;
  height: 660px;
  -o-object-fit: cover;
     object-fit: cover;
}
.ew-view .ew-map {
  max-width: 1200px;
  margin: 0 auto;
}
.ew-view .ew-map svg {
  width: 100%;
}
.ew-view .ew-contact-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.ew-view .ew-contact-list li {
  width: calc(50% - 16px);
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.ew-view .ew-contact-list li a {
  font: 400 16px "Lato", sans-serif;
  font-weight: 500;
  color: #26b49a;
  border-bottom: 1px solid #26b49a;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.ew-view .ew-image-text.ew-image-text-bg-blue {
  background-color: #0072b4;
}
.ew-view .ew-image-text.ew-image-text-bg-blue * {
  color: #e9fef8;
}
.ew-view .ew-splited.ew-info-text * {
  font: 400 16px "Lato", sans-serif;
  font-size: 20px;
}
.ew-view .ew-full-img {
  padding: 32px;
}
.ew-view .ew-full-img > div {
  overflow: hidden;
  border-radius: 20px;
  height: 371px;
  width: 100%;
  display: flex;
  align-items: center;
}
.ew-view .ew-full-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1200px) {
  section > div,
  .ew-hero > div,
  .ew-map > div,
  .ew-grid-2-2 > div {
    margin: 0 64px !important;
  }
}
@media (min-width: 1339px) {
  .ew-hero {
    background-size: 70% !important;
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes simpleFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ew-hero h1 {
  opacity: 0; /* start hidden */
  animation: slideInLeft 0.8s ease-out forwards;
  animation-delay: 0.3s;
}

.ew-hero .ew-first-p {
  opacity: 0; /* start hidden */
  animation: slideInLeft 0.8s ease-out forwards;
  animation-delay: 0.3s;
}

.ew-hero .ew-second-p,
.ew-hero button {
  opacity: 0; /* start hidden */
  animation: slideInLeft 0.8s ease-out forwards;
  animation-delay: 0.6s;
}

.ew-hero .ew-keyword,
.ew-hero span {
  opacity: 0;
  animation: simpleFade 0.5s ease-out forwards;
  animation-delay: 1s; /* delay it longer */
}

.ew-hero {
  min-height: 100vh;
  background-size: 80%;
  background-position: bottom right;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #e1e4eb;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%), repeating-linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%), repeating-linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);
}
.ew-hero > div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 200px 32px 64px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ew-hero > div h1 {
  max-width: 720px;
}
.ew-hero > div h1 span {
  color: #26b49a;
  font: inherit;
}
.ew-hero > div p {
  max-width: 500px;
  margin-top: 40px;
  font-size: 24px;
}

.ew-img-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 389px;
  width: calc(100% - 32px);
  padding: 32px;
}
.ew-img-card h6,
.ew-img-card p,
.ew-img-card span {
  text-align: center;
  color: #e9fef8;
  max-width: 249px;
}
.ew-img-card h6 {
  font: 400 24px "Lato", sans-serif;
  font-weight: 700;
}
.ew-img-card span {
  font: 400 16px "Lato", sans-serif;
  font-weight: 700;
  margin-bottom: 32px;
}
.ew-img-card p {
  font: 400 16px "Lato", sans-serif;
  font-size: 14px;
}
.ew-img-card span {
  color: #26b49a !important;
}

.ew-icon-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 46px;
  max-width: 389px;
  width: calc(100% - 32px);
  padding: 32px;
}
.ew-icon-card h6 {
  font: 700 18px "Lato", sans-serif;
}
.ew-icon-card p {
  font: 400 16px "Lato", sans-serif;
  font-size: 14px;
}
.ew-icon-card span * {
  color: #26b49a !important;
}

.ew-icon-card-2 {
  border: 1px solid rgba(70, 101, 141, 0.4);
  border-radius: 20px;
}
.ew-icon-card-2 > div {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.ew-icon-card-2 h6 {
  font: 400 14px "Lato", sans-serif;
  font-size: 12px;
}

.ew-icon-card-bg {
  border: none !important;
  background-color: rgba(152, 176, 169, 0.12);
}

.ew-project-card {
  width: calc(50% - 16px);
  border-radius: 20px;
  background-color: rgba(70, 101, 141, 0.12);
  display: flex;
  gap: 32px;
  padding: 16px;
  max-height: 320px;
}
.ew-project-card .ew-project-card-img {
  border-radius: 10px;
  overflow: hidden;
}
.ew-project-card .ew-project-card-img img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.ew-project-card .ew-project-card-text {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
.ew-project-card .ew-project-card-text > * {
  max-width: 290px;
  width: 100%;
}
.ew-project-card .ew-project-card-text > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ew-project-card .ew-project-card-text span {
  font: 400 16px "Lato", sans-serif;
  font-weight: 700;
  color: #58a6ec;
}
.ew-project-card .ew-project-card-text h4 {
  font: 700 18px "Lato", sans-serif;
}
.ew-project-card .ew-project-card-text p {
  font: 300 14px "Lato", sans-serif;
}

/* *** grid *** */
.ew-card-grid {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.ew-full-grid {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
  padding: 0 32px;
}

.ew-input {
  border: none;
  border-bottom: 1px solid rgba(70, 101, 141, 0.3);
  background-color: transparent;
  border-radius: 0;
  outline: none;
  box-shadow: none !important;
  padding: 8px 11px;
  width: 100% !important;
}

/* Focused input */
.ew-input:focus,
.ew-input:focus-within {
  border: none;
  border-bottom: 1px solid #26b49a;
  background-color: transparent;
  box-shadow: none !important; /* Remove any shadow */
  outline: none;
}

/* Hovered input */
.ew-input:hover {
  border: none;
  border-bottom: 1px solid #26b49a;
  background-color: transparent;
  box-shadow: none !important;
}

/* Error input */
.ew-input.ant-input-status-error {
  border: none !important;
  border-bottom: 1px solid #f5222d !important;
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none;
}

/* Error input on focus */
.ew-input.ant-input-status-error:focus,
.ew-input.ant-input-status-error:focus-within {
  border: none !important;
  border-bottom: 1px solid #f5222d !important;
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none;
}

/* *********************** Select *************************** */
.ew-select .ant-select-selector {
  border: none;
  border: none !important;
  border-bottom: 1px solid rgba(70, 101, 141, 0.3) !important;
  background-color: transparent !important;
  border-radius: 0;
  outline: none;
  box-shadow: none !important;
  padding: 8px 11px;
  width: 100% !important;
  height: 39px !important;
}

/* Focused select */
.ew-select .ant-select-selector:focus,
.ew-select .ant-select-selector:focus-within {
  border: none;
  border-bottom: 1px solid #26b49a;
  background-color: transparent;
  box-shadow: none !important;
  outline: none;
}

/* Hovered select */
.ew-select .ant-select-selector:hover {
  border: none;
  border-bottom: 1px solid #26b49a;
  background-color: transparent;
  box-shadow: none !important;
}

/* Error select */
.ew-select .ant-select-selector.ant-select-status-error {
  border: none !important;
  border-bottom: 1px solid #f5222d !important;
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none;
}

/* Error select on focus */
.ew-select .ant-select-selector.ant-select-status-error:focus,
.ew-select .ant-select-selector.ant-select-status-error:focus-within {
  border: none !important;
  border-bottom: 1px solid #f5222d !important;
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none;
}

.ew-select .ant-select-dropdown {
  background-color: rgba(70, 101, 141, 0.12) !important; /* Customize the background color */
}

.ew-select .ant-select-dropdown .ant-select-item-option {
  background-color: rgba(70, 101, 141, 0.12) !important; /* Customize option background */
}

.ant-upload-drag-icon,
.ant-upload-drag-icon svg {
  color: #26b49a;
}

.ant-upload-text {
  color: #46658d !important;
  font: 400 16px "Lato", sans-serif;
  font-size: 12px;
}
.ant-upload-text span {
  color: #26b49a;
  font-weight: 600;
}

:where(.css-dev-only-do-not-override-1v5z42l).ant-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled):hover,
:where(.css-dev-only-do-not-override-1v5z42l).ant-upload-wrapper .ant-upload-drag-hover:not(.ant-upload-disabled) {
  border-color: #26b49a !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #46658d;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #e1e4eb;
  overflow-x: hidden;
}/*# sourceMappingURL=App.css.map */